
<h1>Events</h1>
<div class="container floater" *ngFor="let event of eventInfo">
  <div class="card">
    <img src="{{event.type.image}}">
    <div class="row info monthDay">{{event.starttime | date: 'MM/dd/yyyy'}}</div>
    <div class="row info partyTitle">{{event.name}}</div>
    <div class="row info addy">{{event.city}} {{event.state}}</div>
    <div class="row info time">Start: {{event.starttime | date: 'short'}}</div>
    <div class="row info time">End: {{event.endtime | date: 'short'}}</div>
    <div class="row info">Hosted By: <br>{{event?.createdBy?.firstname}} {{event?.createdBy?.lastname}}</div>

    Name: {{event.name}}<br>
    Type: {{event.type.name}}<br>
    Start: {{event.starttime | date: 'short'}}<br>
    End: {{event.endtime | date: 'short'}}<br>
    Address: {{event.address}}<br>
    City: <a onclick="document.getElementById('id02').style.display='block'">{{event.city}}</a><br>
    State: {{event.state}}<br>
    Zipcode: {{event.zipcode}}<br>
    <br>
  </div>
</div>


<!--&lt;!&ndash; Button to open the modal login form &ndash;&gt;-->


<!--&lt;!&ndash; The Modal &ndash;&gt;-->
<!--<div id="id02" class="modal">-->
  <!--<span onclick="document.getElementById('id02').style.display='none'"-->
        <!--class="close" title="Close Modal">&times;</span>-->
  <!--<app-map></app-map>-->

  <!-- Modal Content -->
  <!--<form class="modal-content animate" action="/action_page.php">-->

  <!--<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn"><i class="fa fa-close">X</i></button>-->

  <!--<div class="imgcontainer">-->
  <!--<div class="logoText leftText">-->
  <!--Party-->
  <!--<img class="logo" src="../../assets/logo.jpeg" alt="">-->
  <!--Date-->
  <!--</div>-->


  <!--<div>-->
  <!--<label for="username"><b>Username</b></label>&nbsp;-->
  <!--<input id="username" type="text" placeholder="Enter Username" [ngModel]=username name="username" required>-->
  <!--</div>-->
  <!--<div>-->
  <!--<label for="password"><b>Password</b></label>&nbsp;-->
  <!--<input id="password" type="password" placeholder="Enter Password" [ngModel]=password name="password" required>-->
  <!--</div>-->

  <!--<label>-->
  <!--<input type="checkbox" checked="checked" name="remember"> Remember me-->
  <!--</label>-->

  <!--<div>-->
  <!--<button (click)="login()">Login</button>-->

  <!--</div>-->
  <!--<span>Forgot <a href="#">password?</a></span>-->

  <!--<div>-->
  <!--<button class="createbtn" onclick="document.getElementById('id02').style.display='none'"-->
  <!--routerLink="createAccount" routerLinkActive="active">Create Account-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</form >-->
<!--</div>-->
