nav {
  width: 100%;
  height: 80px;
  background-color: #000000;
  color: white;
}


.navbarlogo {
  width: 137px;
  height: 80px;
  margin: 0;


}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}

ul li {
  list-style: none;
  display: inline-block;

}

ul li a {

  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: HelveticaNeue;
  padding: 0 20px;
  font-size: 22px;
}

ul li a:hover {
  color: #778DA9;
}


.Login {
  width: 60px;
  height: 26px;
  font-family: HelveticaNeue;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
}
