<nav class="container">
  <a routerLink="home"><img src="../../assets/navbarlogo.png" class="navbarlogo"> </a>
  <ul>



  </ul>
    <ul>
    <li *ngIf="authority === 'user'">
      <a class="nav-link" (click)="logout()">Logout</a>
      <!--<button class="btn btn-secondary" (click)="logout()">Logout</button>-->
    </li>
    <li *ngIf="authority === 'admin'">
      <a class="nav-link" routerLink="admin">Admin Board</a>
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
    <li *ngIf="authority === 'pm'">
      <a class="nav-link" routerLink="pm">PM Board</a>
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
      <li *ngIf="!authority">
        <a routerLink="about">About</a>
      </li>
    <li *ngIf="!authority">
      <!--<a routerLink="auth/login">Login</a>-->
      <a onclick="document.getElementById('id01').style.display='block'">Login</a>
    </li>

    <!--<li><a routerLink="/myAccount">My Account</a></li>-->
    <!--<li><a onclick="document.getElementById('id01').style.display='block'">Sign In</a></li>-->
    <li><a *ngIf="loggedIn" routerLink="/events-create">Create Events</a> </li>
    <li><a *ngIf="loggedIn" routerLink="/events">Events</a> </li>
    <li><a *ngIf="loggedIn" routerLink="/myevents">My Events</a> </li>

  </ul>


</nav>



<!-- Button to open the modal login form -->


<!-- The Modal -->
<div id="id01" class="modal">

  <!-- Modal Content -->
  <div class="modal-content animate" action="/action_page.php">
      <app-login></app-login>
  </div>
</div>

<router-outlet></router-outlet>
