<span> Plan your own party</span>
<ng-container>
  <div>Plan your event</div>
  <div>Invite Your Friends</div>
  <div>See Your Events</div>
</ng-container>




<div class="imgcontainer">
  <div class="logoText leftText">
    Welcome Back

  </div></div>
<app-login></app-login>
