.test{

display: flex;
  justify-content: center;

}
.The-Party-Connection {
  margin-top: 5%;
  width: 584px;
  height: 54px;
  font-family: HelveticaNeue;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #000000;
}

.pic{
  text-align: center;
}
.Group {
  width: 596px;
  height: 608px;
  object-fit: contain;
}
