a {
  color: blue;
}
a:hover{
  color: gray;
}
.card {
  width: 210px;
  height: 361px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  width: 210px;
  height: 118px;
  border-radius: 5px 5px 0 0;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.floater
{
  float: left;
  margin: 10px;
}
.info{
  padding-left: 24px;
  font-family: "Helvetica Neue";
}
.monthDay{
  font-size: 14px;
  margin-bottom: 12px;
}
.partyTitle{
  font-size: 18px;
  font-weight: 500;
}
.addy{
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 27px;
}
.time{
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 28px;
}
.hostedBy{
  font-size: 14px;
}
