
<!--<form [formGroup]="eventForm">-->
  <!--<label>-->
    <!--Name:-->
    <!--<input type="text" formControlName="name">-->
  <!--</label>-->
  <!--<br>-->
  <!--<label>-->
    <!--Type:-->
    <!--<select formControlName="type">-->
      <!--<option [value]="type.id" *ngFor="let type of types">{{type.name}}</option>-->
<!--</select>-->
<!--</label>-->
<!--<br>-->
<!--<label>-->
<!--Date:-->
<!--<input type="datetime-local" formControlName="starttime">-->
<!--</label>-->
<!--<br>-->
<!--<label>-->
<!--Date:-->
<!--<input type="datetime-local" formControlName="endtime">-->
<!--</label>-->
<!--<br>-->
<!--<label>-->
<!--Address:-->
<!--<input type="text" formControlName="address">-->
<!--</label>-->
<!--<br>-->
<!--<label>-->
<!--City:-->
<!--<input type="text" formControlName="city">-->
<!--</label>-->
<!--<br>-->
<!--<label>-->
<!--State:-->
<!--<input type="text" formControlName="state">-->
<!--</label>-->
  <!---->
<!--<button (click)="createEvent()">Add Event</button>-->
<!--</form>-->


<mat-horizontal-stepper>
  <mat-step [stepControl]="eventForm">
    <form [formGroup]="eventForm">
      <ng-template matStepLabel>WHEN</ng-template>
      EVENT TITLE:
      <mat-form-field>
        <input matInput placeholder="Event Title" formControlName="name" required>
      </mat-form-field><br><br>
      EVENT TYPE:
      <mat-form-field>
          <mat-select formControlName="type" placeholder="type" required>
            <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
          </mat-select>
      </mat-form-field><br><br>
      EVENT START:
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="Event Start" formControlName="starttime" required>
      </mat-form-field><br><br>
      EVENT END:
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="Event End" formControlName="endtime" required>
      </mat-form-field><br><br>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="eventForm">
    <form [formGroup]="eventForm">
      <ng-template matStepLabel>WHERE</ng-template>
      STREET NAME:
      <mat-form-field>
        <input matInput placeholder="Street Name" formControlName="address" required>
      </mat-form-field><br><br>
      CITY:
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city" required>
      </mat-form-field><br><br>
      STATE:
      <mat-form-field>
        <input matInput placeholder="State" formControlName="state" required>
      </mat-form-field><br><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
        <!--<button mat-button matStepperNext (click)="stepper.createEvent()">Submit</button>-->
      </div>
    </form>
    <form [formGroup]="eventForm">
      <ng-template matStepLabel>INVITES</ng-template>
      INVITES:
      <div>
        <div class="cb-wrapper">
          <mat-checkbox *ngFor="let user of users" [value]="user.id" (click)="addToArray(user.id)">
            {{user.firstname}}
          </mat-checkbox>
        </div>
        <!--<button (click)="submitAttendees()">Submit</button>-->
      </div>
      <button (click)="createEvent()">Submit</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>


<router-outlet></router-outlet>

