<agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker [latitude]="latBDUBS" [longitude]="lngBDUBS"></agm-marker>
</agm-map>
