

.Login-or {
  width: 133px;
  height: 32px;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;

}
.Create-an-account {
  width: 242px;
  height: 32px;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  text-align: center;
  color: #0065f2;
}
input {
  width: 350px;
  height: 48px;
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, rgba(9, 19, 33, 0.06), rgba(9, 19, 33, 0.06));
}

.Text-White {
  width: 334px;
  height: 48px;
}

.Close {
  width: 23px;
  height: 24px;
}



.State-Style {
  width: 350px;
  height: 48px;
  background-color: #0065f2;
}

.Placeholder {
  width: 40px;
  height: 24px;
  opacity: 0.5;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #000000;
}

.-Button-Text {
  width: 52px;
  height: 24px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.Icon {
  width: 16px;
  height: 16px;
  margin:0;
  background-color: #000000;
  float: right;
  color:#E0E1DD;

}

.centermodal{
  margin-top: 20px;
  margin-left: 90px;
  padding-right: 0;
}

.centermodal1{
  margin-top: 20px;
  margin-left: 115px;
  padding-right: 0;
}

.Rectangle {
  width: 1023px;
  height: 1024px;
  border: solid 1px #979797;
  background-color: rgba(0, 0, 0, 0.46);

}
.Background {
  width: 540px;
  height: 445px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


