<div *ngIf="isLoggedIn; else loggedOut">

</div>

<ng-template #loggedOut>
  <!--<button type="button" onclick="document.getElementById('id01').style.display='none'" class="Icon"><i class="fa fa-close">X</i></button>-->
  <!--<button type="button" onclick="document.getElementById('id01').style.display='none'" class=" cancelbtn,Close, ->
 ">x</button>-->

  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">x</span>

    <br>
    <br>
    <br>
<div class="centermodal1">
  <span class="Login-or">Login or <a routerLink="/signup" onclick="document.getElementById('id01').style.display='none'" class="Create-an-account">Create an Account</a></span>
</div>
  <div class="centermodal">
  <div class="row col-sm-6," style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <input id = "username" type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="form.username" #username="ngModel"
               required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <input id="password" type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">

        <button class ="-Button-Text, State-Style">Sign In</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
  </div>
  </div>
</ng-template>
