
<div>
  <div *ngFor="let customer of customers">

    <span>Welcome {{customer.firstname}} </span>
    <img src="../../assets/profile.jpg">
    <table>
      <tr id="Name">
        <th>Name:</th>
        <th>{{customer.firstname}} {{customer.lastname}}</th>
      </tr>
      <tr>
        <th>Address:</th>
        <th>{{customer.address}}</th>
      </tr>
      <tr>
        <th>Email:</th>
        <th>{{customer.email}}</th>
      </tr>
      <tr>
        <th>Phone:</th>
        <th>{{customer.phone}}</th>
      </tr>
      <tr>
        <th>Username:</th>
        <th>{{customer.username}} </th>
      </tr>
      <tr>
        <th>Password:</th>
        <th>{{customer.password}} </th>
      </tr>
    </table>
    <div class="space"><button id="update">update information</button> </div>
  </div>
</div>
