<div class="container floater" *ngFor="let userEvent of userEvents">
  <div class=“card”>
    <div class="card" routerLink="/events/{{userEvent.id}}">
      <!--<img src="{{event.type.image}}">-->
      <img src="{{userEvent.event.type.image}}">
      <div class="row info monthDay">{{userEvent.event.starttime | date: 'MM/dd/yyyy'}}</div>
      <div class="row info partyTitle">{{userEvent.event.name}}</div>
      <div class="row info addy">{{userEvent.event.city}} {{userEvent.event.state}}</div>
      <div class="row info time">Start: {{userEvent.event.starttime | date: 'short'}}</div>
      <div class="row info time">End: {{userEvent.event.endtime | date: 'short'}}</div>
      <div class="row info">Hosted By: <br>{{userEvent.event?.createdBy?.firstname}} {{userEvent.event?.createdBy?.lastname}}</div>
    </div>
    <!--Name: {{event.event.name}}<br>-->
    <!--Type: {{event.event.type.name}}<br>-->
    <!--Start: {{event.event.starttime | date: 'short'}}<br>-->
    <!--End: {{event.event.endtime | date:'short'}}<br>-->
    <!--Address: {{event.event.address}}<br>-->
    <!--City: {{event.event.city}}<br>-->
    <!--State: {{event.event.state}}<br>-->
    <!--Zipcode: {{event.event.zipcode}}<br>-->
    <!--Hosted By: {{event.event.createdBy.firstname}} {{event.event.createdBy.lastname}}<br>-->
    <br>
  </div>
</div>
