<!DOCTYPE html>
<html>
<head>
</head>
<body>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
</body>
</html>

<!--<nav class="navbar navbar-inverse">-->
  <!--<div class="container-fluid">-->
    <!--<ul class="nav navbar-nav" routerLinkActive="active">-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>-->
      <!--<li *ngIf="authority === 'user'" class="nav-item">-->
        <!--<a class="nav-link" routerLink="user">User Board</a>-->
      <!--</li>-->
      <!--<li *ngIf="authority === 'admin'" class="nav-item">-->
        <!--<a class="nav-link" routerLink="admin">Admin Board</a>-->
      <!--</li>-->
      <!--<li *ngIf="authority === 'pm'" class="nav-item">-->
        <!--<a class="nav-link" routerLink="pm">PM Board</a>-->
      <!--</li>-->
      <!--<li *ngIf="!authority" class="nav-item">-->
        <!--<a class="nav-link" routerLink="auth/login">Login</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
<!--<div class="container">-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->

<!--<app-homepage></app-homepage>-->
<app-bar-top></app-bar-top>
<!--<app-events></app-events>-->
<!--<app-events-create></app-events-create>-->

