
.pad{
  padding: 15vh;
}

.name{
  font-size: 1em;
  width: 14vw;
  height: 5vh;
}
.number{
  font-size: 1em;
  width: 14vw;
  height: 5vh;
}
form{

  background-color: #E0E1DD;
  padding: 40px;
  border: 5px solid black;
  border-radius: 25px;
  display: table;
  margin: auto;

}

td{
  font-size: 1.5em;
  height: 2em;
  padding-right: 2em;
}
.info{
  box-sizing: border-box;
  width:30vw;
  height: 20vh;
  padding: 12px 20px;
  font-size: 1em;
}

select{
  font-size: 1em;
}

button{
  font-weight: bold;
  font-size: 1.5em;
  background-image: linear-gradient(#778DA9,#E0E1DD,#778DA9);
  border-radius: 15px;
  display: block;
  margin:auto;
  width: 15vw;
  height:8vh;
}
