<!--<div class="pad">-->
  <!--<form [formGroup]="newCustomer">-->
    <!--<table>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="firstname">First Name:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class = "firstname" formControlName="firstname" id="firstname" name="firstname">-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="lastname">Last Name:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class = "lastname" formControlName="lastname" id="lastname" name="lastname">-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="address">Address:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class="address" formControlName="address" id="address">-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="zipcode">Zipcode:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class="zipcode" formControlName="zipcode" id="zipcode">-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="email">Email:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class="email" formControlName="email" id="email">-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="phone">Phone:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class="phone" formControlName="phone" id="phone">-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="username">Username:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class="username" formControlName="username" id="username">-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<label for="password">Password:</label>-->
        <!--</td>-->
        <!--<td>-->
          <!--<input class="password" formControlName="password" id="password">-->
        <!--</td>-->
      <!--</tr>-->
    <!--</table><br>-->
    <!--<br>-->
    <!--<button type="submit" (click)="createCustomer()">Create New Account</button>-->
  <!--</form>-->
<!--</div>-->
<!--<p>-->
  <!--account-create works!-->
<!--</p>-->
