.Rectangle {
  width: 1024px;
  height: 950px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.43);
}


.image{
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/home.png);
  background-size: cover;
background-position: center;
  background-repeat: no-repeat;

}

.right{
  margin-left: 20%;
  margin-top: 5%;
}

.Party_connect_logo {
  margin-top: 7%;
  width: 761px;
  height: 49px;
  object-fit: contain;
}

.space{
  padding-top: 10px;
}
.Is-it-time-to-party {
  width: 10em;
  height: 70px;
  font-family: HelveticaNeue;
  font-size: 59px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #ffffff;

}
.Is-it-time-to-party {
  width: 10em;
  height: 57px;
  font-family: HelveticaNeue;
  font-size: 49px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #ffffff;
}
.party-color {
  color: #ebbf15;
}

.It-sure-is {
  width: 197px;
  height: 57px;
  font-family: HelveticaNeue;
  font-size: 49px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #ffffff;
}

.Sign-Up {
  width: 225px;
  height: 59px;
  font-family: HelveticaNeue;
  font-size: 49px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #ebbf15;
  text-decoration: none;
}


.to-start-planning-yo {
  width: 459px;
  height: 171px;
  font-family: HelveticaNeue;
  font-size: 49px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #ffffff;
}

