
<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
  </p>
  <!--<button class="btn btn-secondary" (click)="logout()">Logout</button>-->
</div>

<ng-template #loggedOut class="home">

<div class="image">
  <div class = "right">
  <p class="Is-it-time-to-party">Is it time to <span class="party-color ">Party</span>?<br class="It-sure-is">It sure is.</p><br>
<div class="pic"><img src="../../assets/party-connect-logo@3x.png" class="Party_connect_logo"></div>
  <p class = "to-start-planning-yo space"><a routerLink="/signup"  class="Sign-Up">Sign Up</a><br>to start<br>planning your<br>next event.</p>

</div>
</div>
</ng-template>


