<div class="center">
<div *ngIf="isSignedUp; else signupForm">
  <!--<a onload="document.getElementById('id01').style.display='block'">Login</a>-->
  <span class="registration">Your registration was successful. </span><br>
  <div class="center"><span class="registration">Please login!</span></div>
</div>

<ng-template #signupForm>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="Background">
      <div class="center1">
      <div class="To-party-you-must-f">To party, you must first create an account.</div>
      </div>
      <div class="form-group center1">
        <input type="text" class="form-control" placeholder="Name" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel" required />
        <div *ngIf="f.submitted && firstname.invalid">
          <div *ngIf="name.errors.required">First name is required</div>
        </div>
      </div>
      <div class="form-group center1">
        <input type="text" class="form-control" placeholder="Surname" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel" required />
        <div *ngIf="f.submitted && lastname.invalid">
          <div *ngIf="name.errors.required">Last name is required</div>
        </div>
      </div>
      <div class="form-group center1">
        <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="form.username" #username="ngModel" required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group center1">
        <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group center1">
        <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group center1">
        <button class="Sign-Up">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}

        </div>
      </div>
    </form>
</ng-template>
</div>
