.Background {
  width: 727px;
  height: 753px;
}

.center{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.center1{
  display: flex;
  justify-content: center;
}


.CreateUserAcctPage {
  margin-top: 5%;
  width: 1024px;
  height: 1024px;
}
.To-party-you-must-f {
  width: 20em;
  height: 28px;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.Placeholder {
  width: 66px;
  height: 24px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #000000;
}

input {
  width: 350px;
  height: 48px;
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, rgba(9, 19, 33, 0.06), rgba(9, 19, 33, 0.06));
}

.Sign-Up {
  width: 350px;
  height: 48px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: #0065f2;
}


.registration {
  width: 438px;
  height: 72px;
  font-family: HelveticaNeue;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;
}
